JamesProject_REPO/.static/.svn/entries
JamesProject_REPO/.static/.svn/format
JamesProject_REPO/.templates/.svn/entries
JamesProject_REPO/.templates/.svn/format
JamesProject_REPO/MDAP_proj/MDAP_Results/.svn/entries
JamesProject_REPO/MDAP_proj/MDAP_Results/.svn/format
*.pyc